<div class="d-flex justify-content-center mt-5">
  <%= form_with(model: link_item, class: "row gx-3 gy-2 align-items-center" ) do |form| %>
    <% if link_item.errors.any? %>
      <div class="col-12" style="color: red">
        <h2>
          <%= pluralize(link_item.errors.count, "error" ) %> prohibited this link_item from being saved:
        </h2>
        <ul>
          <% link_item.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
            <% end %>
        </ul>
      </div>
      <% end %>

        <div class="col-3">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon3">https://</span>
            <%= form.text_field :url, class: "form-control" , placeholder: "URL" , aria: {
              describedby: "basic-addon3 basic-addon4" } %>
          </div>
        </div>

        <div class="col-3">
          <%= form.label :name, class: "visually-hidden" , for: "specificSizeInputGroupUsername" %>
            <div class="input-group">
              <%= form.text_field :name, class: "form-control" , placeholder: "Name" ,
                id: "specificSizeInputGroupUsername" %>
            </div>
        </div>

        <div class="col-3">
          <%= form.label :icon, class: "form-label visually-hidden" %>
            <%= form.file_field :icon, class: "form-control" , id: "formFile" %>
        </div>

        <div class="col-auto">
          <%= form.submit "Submit" , class: "btn btn-primary" %>
        </div>
        <% end %>
</div>
