<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= user.nickname %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= user.picture %>
  </p>

  <p>
    <strong>Banner:</strong>
    <%= user.banner %>
  </p>

</div>
